.column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.829);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.473);
    padding: 10px;
  }
  
  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #ac5353;
  }

  .fix{
    padding: 20px 15px;
}

p {
    color: white;
}

h2 {
    color: wheat;
}

form {
    margin: 0px 22px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.829);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.473);
  
}

.container1 {
  padding: 20px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(112, 112, 112);
  box-sizing: border-box;
  cursor: pointer;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #333;
  color: white;
  border: none;
}

input[type=submit]:hover {
    background-color: #ac5353
}

section{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../sources/bg/3.jpg");
}